.HomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .UserPhotoContainer {
        position: relative;
        top: 80px;
        z-index: 1;

        .logo {
            border-radius: 100%;
        }
    }

    .UserDataContainer {
        padding-top: 75px;
        max-width: 500px;
        width: 100%;
        margin-top: 0px;

        .subHeader {
            cursor: pointer;
        }

        .title {
            flex-grow: 1;
            font-weight: 600;
        }

        .name_card__container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .name {
                font-weight: 600;
                font-size: 1.3rem;
            }

            .occupation {
                color: var(--bs-secondary);
            }
        }

        .about_card__container,
        .work_card__container,
        .education_card__container {
            padding: 8px;
            padding-top: 0;
        }
    }
}
