.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.UserPhotoContainer {
    position: relative;
    top: 75px;
    z-index: 1;

    .logo {
        img {
            border-radius: 100%;
        }
    }
}

.UserDataContainer {
    padding-top: 200px;
}
