.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.UserPhotoContainer {
    position: relative;
    top: 80px;
    z-index: 1;

    .logo {
        border-radius: 100%;
    }
}

.UserDataContainer {
    padding-top: 75px;
    max-width: 500px;
    min-width: 200px;
    margin-top: 0px;

    .name_card__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .name {
            font-weight: 600;
            font-size: 1.3rem;
        }

        .occupation {
            color: var(--bs-secondary);
        }
    }
}
