.footer__container {
    position: fixed;
    background: #fff;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;

    b {
        margin: 0 5px;
    }

    svg {
        margin-left: 3px;
    }
}
